body{
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.main_container{
    display: grid;
    max-width: 1200px;
    min-height: 800px;
    grid-template-rows: 20% 5% 70% 5%;
    margin: auto;
}

.header{
    display: grid;
    margin: auto;
    margin-top: 0;
}

.header h1{
    text-align: center;
}

.menu{
    background-color: rgb(186, 186, 186);
    display: grid;
    grid-auto-flow: column;
}

.menu a, a::after, .menu a::before{
    text-decoration: none;
    color: black;
}

.menu a:hover{
    color: blueviolet;
}



.content{
    display: grid;
}

.content .tecnologias{
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.tecnologias img{
    width: 75%;
}



.footer{
    color: gray;
}

.footer hr{
    width: 100%;
    height:  2px;
    background-color: black;
}
